body {
    background: #000 !important;
    color: #fff !important;
}

.modal {
    color: #000 !important;
}

h1, h2, h3 {
    text-align: center !important;
}

a, button.addToCart {
    color: #fff !important;
}

a > i {
    cursor: pointer;
    margin-left: 20px;
}

.all_products {
    text-align: center;
}

.product-name {
    text-align: left !important;
    font-size: 20px;
}

.cart-name {
    text-align: center;
    font-size: 20px;
}

.dropdown.buy {
    position: absolute !important;
    top: 52%;
    right: 5%;
    font-size: 20px !important;
}

.dropdown-menu {
    background-color: #343a40 !important;
}

.dropdown-menu > a > i.plus {
    padding-right: 10px;
    margin-left: -10px;
}

.dropdown-item:hover {
    background-color: #29945d !important;
}

.price .product-regular_price {
    display: inline;
    margin: 2px;
    text-decoration: line-through;
    color: crimson;
}

.price .product-actual_price {
    margin: 2px;
    display: inline;
    color: #34ce57;
}

.errors {
    width: 100%;
}
.errors > span {
    color: red !important;
    display: block;
}